<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <div class="container">
        <mat-spinner diameter="50" *ngIf="dataFromStore.isLoading; else loadedData" class="mx-auto"></mat-spinner>

        <ng-template #loadedData>
            <div class="row">
                <div class="col-md-4">
                    <app-user-profile-details *ngIf="dataFromStore.chosenUserProfile"
                        [user]="dataFromStore.chosenUserProfile"></app-user-profile-details>
                </div>
                <div class="col-md-8 bg-secondary">
                    Placeholder
                </div>
            </div>
        </ng-template>
        
    </div>
</ng-container>