<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    
    <mat-spinner class="mx-auto" *ngIf="dataFromStore.isLoading" diameter="50"></mat-spinner>

    <ng-container *ngIf="!dataFromStore.isLoading">
        <div *ngIf="dataFromStore.projects.length > 0; else noResults" class="d-flex flex-wrap gap-3 justify-content-center">
            <app-project-preview *ngFor="let project of dataFromStore.projects" 
                                 [project]="project"
                                 [extendedActionsVisible]="extendedProjectActionsVisible"
                                 (invitationAccept)="onInvitationAccept.emit($event)"
                                 (invitationDecline)="onInvitationDecline.emit($event)">
            </app-project-preview>
        </div>
        <ng-template #noResults>
            <div class="d-flex flex-column align-items-center">
                <div class="row w-100">
                    <img src="assets/no-projects.png" class="img col-11 col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto" alt="Nema sadrzaja">
                </div>
                <p class="lead text-center">{{isSuggestedMode ? 
                                            'Nema predloženih projekata, probajte da promenite tagove na svom profilu' : 
                                            'Nema projekata'}}
                </p>
            </div>
        </ng-template>
    </ng-container>

    <mat-paginator 
        class="mt-2 d-flex justify-content-center" 
        *ngIf="!isSuggestedMode && dataFromStore.projects?.length" 
        [hidden]="dataFromStore.projects?.length === 0" 
        [length]="dataFromStore.paginationMetadata.totalItems"
        [pageSize]="dataFromStore.paginationMetadata.itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 50]"
        [showFirstLastButtons]="true"
        (page)="onPaginateChange.emit($event)">
    </mat-paginator>

</ng-container>
