<mat-card class="mx-auto mb-3 p-1 col-12 w-100" appearance="outlined">
    <mat-card-header>
        <div class="d-flex flex-column flex-sm-row gap-3 gap-sm-0 align-items-center justify-content-between w-100 mb-3">

            <div class="d-flex flex-row align-items-center">
                <div class="profile-image d-flex align-items-center">
                    <app-avatar-image [rounded]="true" [imageUrl]="review.author.profileImage" route="users/profile-image" defaultImageUrl="assets/default-profile-image.jpg"></app-avatar-image>
                </div>
                <div class="ms-3">
                    <mat-card-title>
                        <h6 [routerLink]="'../' + review.author.username" class="cursor-pointer text-dark">{{review.author.username}}</h6>
                    </mat-card-title>
                    <p-rating [(ngModel)]="review.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
            </div>
            <div>
                <button *ngIf="canUpdate" class="btn bg-brown text-beige btn-sm me-2" (click)="handleReviewUpdate()">
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <button *ngIf="canDelete" class="btn bg-red text-beige btn-sm" (click)="handleReviewDelete()">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <span class="mt-3 review-content">
            {{review.content}}
        </span>
    </mat-card-content>
</mat-card>