<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <mat-spinner diameter="50" class="mx-auto" *ngIf="dataFromStore.isLoading; else loadedData"></mat-spinner>
    <ng-template #loadedData>
        <mat-card appearance="outlined" class="p-3 d-flex justify-content-center">
            <div class="row gap-2 gap-md-0">
                <div class="col-md-4">
                    <mat-card appearance="outlined" class="project-image mb-3 position-relative">
                        <app-avatar-image defaultImageUrl="assets/default-project-image.jpg" [imageUrl]="dataFromStore.chosenProject.image" route="projects/project-image"></app-avatar-image>
                        <input type="file" id="imageUploadControl" name="imageUploadControl" accept="image/*"
                        (change)="selectedImageChanged($event)" class="file-input" hidden #imageUploadControl />
                        <button class="btn rounded-circle bg-green text-beige btn-edit-image" (click)="imageUploadControl.click()" type="button" *ngIf="dataFromStore.chosenProject.createdBy.id === dataFromStore.loggedInUser.id && dataFromStore.chosenProject.status !== 'completed'">
                            <mat-icon fontIcon="edit"></mat-icon>
                        </button>
                    </mat-card>

                    <ng-container *ngIf="imageUploadControl.value">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" format="png"
                            (imageCropped)="onImageCropped($event)" [aspectRatio]="3/2">
                        </image-cropper>
                        <div class="d-flex justify-content-center">
                            <button class="m-2 btn bg-red text-beige" (click)="cancelImageChange()">
                                <mat-icon fontIcon="cancel"></mat-icon>
                            </button>
                            <button class="m-2 btn bg-green text-beige" (click)="submitImageChange(dataFromStore.chosenProject.id)">
                                <mat-icon fontIcon="check"></mat-icon>
                            </button>
                        </div>
                    </ng-container>

                    <p>Autor: 
                        <a class="text-purple text-decoration-none text-bold cursor-pointer" 
                        [routerLink]="'../../users/' + dataFromStore.chosenProject.createdBy.username">
                            {{dataFromStore.chosenProject.createdBy.username}}
                        </a>
                    </p>
                    <p>Kreiran: 
                        <span class="text-purple text-decoration-none text-bold">
                            {{dataFromStore.chosenProject.createdAt | formatDate}}
                        </span>
                    </p>
                    <p>Ažuriran: 
                        <span class="text-purple text-decoration-none text-bold">
                            {{dataFromStore.chosenProject.updatedAt | formatDate}}
                        </span>
                    </p>
                    <ng-container *ngIf="dataFromStore.chosenProject.createdBy.id === dataFromStore.loggedInUser.id; else notOwnProject">
                        <ng-container *ngIf="dataFromStore.chosenProject.status === 'opened'">
                            <div class="d-flex align-items-center">
                                <button class="btn bg-purple text-beige" (click)="disableApplications(dataFromStore.chosenProject.id)">Zatvori prijave</button>
                                <button mat-icon-button type="button" matTooltip="Zatvaranjem prijava korisnici više neće moći da pronađu ovaj projekat u pretrazi niti da se prijave.">
                                    <mat-icon class="text-green" fontIcon="info"></mat-icon>
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="dataFromStore.chosenProject.status === 'closed'">
                            <div class="d-flex align-items-center align-items-md-start align-items-lg-center flex-row flex-md-column flex-lg-row gap-2">
                                <button class="btn bg-purple text-beige" (click)="enableApplications(dataFromStore.chosenProject.id)">Otvori prijave</button>
                                <div class="d-flex align-items-center">
                                    <button class="btn bg-red text-beige" (click)="finishProject(dataFromStore.chosenProject)">Završi projekat</button>
                                    <button mat-icon-button type="button" matTooltip="Završavanjem projekta prekida se mogućnost vraćanja u stanje otvoren/zatvoren za prijave i mogućnost izmene podataka o projektu. Završen projekat prikazuje se kao portfolio.">
                                        <mat-icon class="text-green" fontIcon="info"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <hr>
                        <button class="btn bg-red text-beige mt-2" (click)="deleteProject(dataFromStore.chosenProject.id)">Obriši projekat</button>

                    </ng-container>

                    <ng-template #notOwnProject>
                        <button class="btn bg-purple text-beige me-2" (click)="applyForProject(dataFromStore.chosenProject.id)">Prijavi se</button>
                        <button class="btn bg-red text-beige" (click)="unenrollFromProject(dataFromStore.chosenProject.id, dataFromStore.loggedInUser.id)">Odjavi se</button>
                    </ng-template>
                    
                </div>
                
                <div class="col-md-8">
                    <h5>{{dataFromStore.chosenProject.title}}</h5>
                    <mat-card appearance="outlined" class="p-3 mb-3">
                        <p class="lead">Opis projekta</p>
                        <span>{{dataFromStore.chosenProject.description}}</span>
                    </mat-card>
                    <mat-card *ngIf="dataFromStore.chosenProject.requirements" appearance="outlined" class="p-3 mb-3">
                        <p class="lead">Zahtevi projekta</p>
                        <span>{{dataFromStore.chosenProject.requirements}}</span>
                    </mat-card>

                    <ng-container *ngIf="dataFromStore.chosenProject.createdBy.id === dataFromStore.loggedInUser.id &&
                                         dataFromStore.chosenProject.status !== 'completed'">
                        <div class="d-flex justify-content-end" >
                            <button class="btn bg-green text-beige mb-3" (click)="openProjectUpdateDialog(dataFromStore.chosenProject)">Izmeni podatke o projektu</button>
                        </div>
                    </ng-container>

                    <mat-card appearance="outlined" class="p-3 mb-3">
                        <p class="lead">Dodatne informacije</p>
                        <p>Status projekta: <span class="text-bold">{{dataFromStore.chosenProject.status | translateProjectStatus}}</span></p>
                        <ng-container *ngIf="dataFromStore.chosenProject.status === 'completed'">
                            <p *ngIf="dataFromStore.chosenProject.applicationLink">
                                Link aplikacije: <a class="text-bold text-decoration-none text-purple" target="_blank" [href]="dataFromStore.chosenProject.applicationLink">{{dataFromStore.chosenProject.applicationLink}}</a>
                            </p>
                            <p *ngIf="dataFromStore.chosenProject.repositoryLink">
                                Link repozitorijuma: <a class="text-bold text-decoration-none text-purple" target="_blank" [href]="dataFromStore.chosenProject.repositoryLink">{{dataFromStore.chosenProject.repositoryLink}}</a>
                            </p>
                        </ng-container>
                        
                    </mat-card>
                    
                    <mat-card appearance="outlined" class="p-3 mb-3">
                        <p class="lead">Tagovi projekta</p>
                        <app-tag-viewer [tags]="dataFromStore.tags" [readonly]="dataFromStore.chosenProject.createdBy.id !== dataFromStore.loggedInUser.id || dataFromStore.chosenProject.status === 'completed'"
                                        (addTag)="addTag($event, dataFromStore.chosenProject.id)" (removeTag)="removeTag($event, dataFromStore.chosenProject.id)">
                        </app-tag-viewer>
                    </mat-card>
                </div>
            </div>
        </mat-card>
        
        <ng-container *ngIf="dataFromStore.chosenProject.createdBy.id === dataFromStore.loggedInUser.id">
            <mat-card appearance="outlined" class="mt-3 p-3">
                <app-project-participants [projectId]="projectId"></app-project-participants>
            </mat-card>
        </ng-container>

    </ng-template>
</ng-container>