.logo {
    cursor: pointer;
    width: 160px;
}

.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.5;
}

.nav-link img {
    max-height: 40px;
    vertical-align: middle;
    border-radius: 100%;
}