<nav class="navbar navbar-expand-md">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" routerLink="/">
            <img src="https://placehold.co/80x80" alt="logo" class="logo-img logo" />
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n-bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse py-4 py-md-0 d-md-flex justify-content-end" id="n-bar">
            <ul class="navbar-nav d-flex align-items-md-center justify-content-end">
                <ng-container *ngIf="currentLoggedInUser$ | async as currentUser; else notLoggedIn">
                    <li class="nav-item text-end me-3"><a class="nav-link" routerLink="users">KORISNICI</a></li>

                    <li class="nav-item dropdown text-end cursor-pointer">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="me-2 username">{{currentUser.username | uppercase}}</span>
                            <img *ngIf="currentUser.profileImage; else defaultProfileImage" [src]="apiUrl + '/users/profile-image/' + currentUser.profileImage" alt="">
                            <ng-template #defaultProfileImage>
                                <img src="assets/default-profile-image.jpg" alt="">
                            </ng-template>
                        </a>

                        <div class="dropdown-menu">
                            <a [routerLink]="'/users/'+ currentUser.username" class="dropdown-item">MOJ PROFIL</a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item cursor-pointer">ODJAVA</a>
                        </div>
                    </li>
                </ng-container>

                <ng-template #notLoggedIn>
                    <li class="nav-item text-end"><a class="nav-link" routerLink="login">PRIJAVA</a></li>
                    <li class="nav-item text-end"><a class="nav-link" routerLink="register">REGISTRACIJA</a></li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>