<div class="container py-3">
    <mat-card class="p-3" appearance="outlined">
        <mat-tab-group class="mb-3" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="handleTabChange()">
            <mat-tab label="Moji projekti">
                <p class="lead text-center mt-4">Projekti koje ste kreirali</p>
                <div class="d-flex justify-content-center">
                    <mat-button-toggle-group [(ngModel)]="selectedProjectStatus" (change)="handleStatusChange()">
                        <mat-button-toggle value="opened">Otvoreni za prijavu</mat-button-toggle>
                        <mat-button-toggle value="closed">Zatvoreni za prijavu</mat-button-toggle>
                        <mat-button-toggle value="completed">Završeni</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

            </mat-tab>

            <mat-tab label="Moje prijave">
                <p class="lead text-center mt-4">Projekti za koje ste se prijavili</p>
            </mat-tab>

            <mat-tab label="Trenutne saradnje">
                <p class="lead text-center mt-4">Projekti na kojima ste prihvaćeni</p>
            </mat-tab>

            <mat-tab label="Završene saradnje">
                <p class="lead text-center mt-4">Projekti na kojima ste prihvaćeni i završeni su</p>
            </mat-tab>
        </mat-tab-group>

        <app-projects-list (onPaginateChange)="handlePaginateChange($event)"></app-projects-list>

    </mat-card>
</div>