<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <mat-card appearance="outlined" class="p-3 h-100">
        <ng-container *ngIf="chatroom; else noChosenRoom">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="lead text-bold">{{chatroom.name}}</span>
                <div>
                    <button class="btn btn-sm bg-brown text-beige me-2">
                        <mat-icon fontIcon="edit"></mat-icon>
                    </button>
                    <button class="btn btn-sm bg-red text-beige">
                        <mat-icon fontIcon="exit_to_app"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="d-flex align-items-center mb-2" *ngIf="chatroom.description">
                <mat-icon fontIcon="description"></mat-icon>
                <span>{{chatroom.description}}</span>
            </div>
            <span>Korisnici:</span>
            <hr>

            <ng-container *ngIf="dataFromStore.messages.length > 0; else noMessages">
                <div class="messages">
                    <span *ngFor="let message of dataFromStore.messages">
                        <app-message-display [message]="message"></app-message-display>
                    </span>
                </div>
            </ng-container>

            <ng-template #noMessages>
                <img src="assets/empty-chat.png" alt="Nema poruka" class="img-fluid">
                <p class="lead text-center">Nema poruka</p>
            </ng-template>

        </ng-container>

        <ng-template #noChosenRoom>
            <p class="lead text-center">Izaberite chat</p>
            <img src="assets/no-chat-selected.png" class="img-fluid" alt="Nije izabran chat">
        </ng-template>
    </mat-card>
</ng-container>