<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <div class="container d-flex justify-content-center align-items-center p-4">
        <div class="row justify-content-center w-100">
            <div class="col-sm-9 col-md-7 col-lg-5">
                <div class="wrapper p-4 border rounded shadow-sm bg-light">
                    <h3 class="text-center mb-4">Prijava</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
                        <div class="mb-3">
                            <p class="text-danger" *ngIf="dataFromStore.error">{{dataFromStore.error}}</p>
                        </div>
                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="E-mail" formControlName="email">
                            <mat-hint *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors">Unesite ispravan e-mail</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-hint *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors">Unesite lozinku</mat-hint>
                        </mat-form-field>
                        <mat-spinner diameter="50" *ngIf="dataFromStore.isSubmitting" class="d-block mx-auto"></mat-spinner>
                        <br>
                        <div class="text-center mb-3">
                            <span>Nemate nalog? <a routerLink="/register" class="register-link">Registrujte se</a></span>
                        </div>
                        <button mat-flat-button color="primary" [disabled]="loginForm.invalid || dataFromStore.isSubmitting" type="submit" class="w-100">Prijavi Se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>