<div class="container py-3">
    <div class="row gap-3 gap-lg-0">

        <!-- Filters -->
        <div class="col-lg-4">
            <mat-card class="p-3" appearance="outlined">
                <h6 class="text-center mb-4">Pretražite projekte</h6>
                <form [formGroup]="filtersForm" (ngSubmit)="filterProjects()">
                    <div class="d-flex flex-column">

                        <app-tag-viewer [tags]="formTags!.value" (addTag)="addTagToForm($event)"
                            (removeTag)="removeTagFromForm($event)" class="mb-3"></app-tag-viewer>

                        <mat-form-field>
                            <mat-label>Naziv</mat-label>
                            <input matInput formControlName="title">
                        </mat-form-field>

                        <div class="d-flex align-items-center mb-3">
                            <mat-form-field subscriptSizing="dynamic" class="d-flex flex-grow-1">
                                <mat-label>Datum</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="minDate">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <button mat-icon-button type="button" class="ms-2" (click)="clearChosenDate()">
                                <mat-icon class="text-red" fontIcon="cancel"></mat-icon>
                            </button>

                            <button mat-icon-button type="button" matTooltip="Odabirom datuma prikazuju se samo projekti koji su kreirani ili ažurirani nakon odabranog datuma.">
                                <mat-icon class="text-green" fontIcon="info"></mat-icon>
                            </button>

                        </div>

                        <button type=" submit" class="btn bg-green text-beige" [disabled]="filtersForm.invalid">Pretraži</button>
                    </div>

                </form>
            </mat-card>
        </div>

        <!-- Results -->
        <div class="col-lg-8">
            <mat-card class="p-3" appearance="outlined">
                <h6 class="text-center mb-3">{{hasSearched ? 'Rezultati pretrage' : 'Predloženi projekti'}}</h6>
                <div class="d-flex justify-content-center">
                    <app-projects-list (onPaginateChange)="onPaginateChange($event)" [isSuggestedMode]="!hasSearched"></app-projects-list>
                </div>

            </mat-card>
        </div>
    </div>

</div>