@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
    height: 100%;
    font-family: "Manrope" !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

.mat-card-title,
.mat-card-subtitle,
.mat-card-content {
  font-family: 'Manrope' !important;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
.mat-typography span,
.mat-typography button,
.mat-typography input,
.mat-typography input::placeholder {
  font-family: 'Manrope' !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.bg-purple {
    background-color: #756AB6;
    transition: .4s;
}

.bg-purple:hover {
    background-color: #9082df;
    transition: .4s;
}

.bg-purple:disabled {
    background-color: #988ece;
    transition: .4s;
}

.bg-green {
    background-color: #325A50;
    transition: .4s;
}

.bg-green:hover {
    background-color: #3f7466;
    transition: .4s;
}

.bg-green:disabled {
    background-color: #42685e;
    transition: .4s;
}


.bg-blue {
    background-color: #96D2C8;
    transition: .4s;
}

.bg-brown {
    background-color: #9B7850;
    transition: .4s;
}

.bg-beige {
    background-color: #FEFAF6;
    transition: .4s;
}

.text-purple {
    color: #756AB6;
    transition: .4s;
}

.text-green {
    color: #325A50;
    transition: .4s;
}

.text-blue {
    color: #96D2C8;
    transition: .4s;
}

.text-brown {
    color: #9B7850;
    transition: .4s;
}

.text-beige {
    color: #FEFAF6;
    transition: .4s;
}

.text-beige:hover {
    color: #FEFAF6;
    transition: .4s;
}

.text-beige:disabled {
    color: #e2d9d0;
    transition: .4s;
}