<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <div class="container">
        <h3>Pretraga korisnika</h3>
        <app-users-search-filters (onFilterChange)="onFilterChange($event)"></app-users-search-filters>

        <!-- Ovde lista korisnika -->

        <mat-paginator 
            [length]="dataFromStore.paginationMetadata.totalItems" 
            [pageSize]="dataFromStore.paginationMetadata.itemsPerPage" 
            [pageSizeOptions]="[5, 10, 25, 100]" 
            [showFirstLastButtons]="true"
            (page)="onPaginateChange($event)">
        </mat-paginator>
    </div>
</ng-container>