<mat-card *ngIf="user" appearance="outlined" class="w-100 h-100">
    <mat-card-header>
        <div mat-card-avatar matBadge="+" matBadgePosition="below" matBadgeSize="large" [matBadgeHidden]="!isOwnProfile" class="profile-image" (click)="openFileExplorerDialog()">
            <img *ngIf="user.profileImage; else defaultProfileImage" [src]="apiUrl+'/users/profile-image/'+user.profileImage"/>
        </div>
        <ng-template #defaultProfileImage>
            <img src="assets/default-profile-image.jpg" alt="">
        </ng-template>
        
        <input type="file" #profileImageUpload id="fileUpload" name="fileUpload" accept="image/*" (change)="selectedFileChanged($event)" class="file-input" hidden/> 
        <mat-card-title><h6>{{user.username}}</h6></mat-card-title>
        <mat-card-subtitle><p>{{user.firstName}} {{user.lastName}}</p></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <ng-container *ngIf="profileImageUpload.value">
            <image-cropper 
                [imageChangedEvent]="imageChangedEvent" 
                [roundCropper]="true"
                format="png"
                (imageCropped)="imageCropped($event)"> 
            </image-cropper>
            <div class="d-flex justify-content-end">
                <button mat-mini-fab class="m-2 bg-danger" (click)="cancelImageChange()">
                    <mat-icon fontIcon="cancel"></mat-icon>
                </button>
                <button mat-mini-fab class="m-2 bg-success" (click)="changeProfileImage()">
                    <mat-icon fontIcon="check"></mat-icon>
                </button>
            </div>
        </ng-container>
        
        <p>Korisnik aplikacije od: {{user.dateCreated | formatDate}}</p>
        <ng-container *ngIf="loggedInUser?.role === 'admin' && !isOwnProfile; else nonAdminView">
            <mat-form-field>
                <mat-label>Uloga</mat-label>
                <mat-select [(value)]="selectedRole">
                    <mat-option *ngFor="let role of roles" [value]="role">{{role | translateRole}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-mini-fab color="primary" (click)="changeUserRole()" [disabled]="user.role === selectedRole" class="ms-2">
                <mat-icon fontIcon="check"></mat-icon>
            </button>

            <br>

            <button class="btn btn-danger" (click)="deleteUserAccount()">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </ng-container>

        <ng-template #nonAdminView>
            <span>Uloga: {{user.role | translateRole }}</span>
        </ng-template>        

    </mat-card-content>

</mat-card>