<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <mat-spinner class="my-2" diameter="50" *ngIf="dataFromStore.isLoading; else loadedProfile"></mat-spinner>

    <ng-template #loadedProfile>
        <mat-card *ngIf="userProfile" appearance="outlined" class="w-100 h-100">
            <mat-card-header class="d-flex justify-content-center">
                <div class="profile-image position-relative mb-3">
                    <app-avatar-image [rounded]="true" [imageUrl]="userProfile.profileImage" route="users/profile-image" defaultImageUrl="assets/default-profile-image.jpg"></app-avatar-image>
                    <button class="btn btn-sm bg-green text-beige rounded-circle btn-change-image" 
                        *ngIf="userProfile.id === dataFromStore.loggedInUser.id"
                        (click)="openFileExplorerDialog()">
                        <mat-icon fontIcon="camera_enhance"></mat-icon>
                    </button>
                </div>

                <input type="file" id="fileUpload" name="fileUpload" accept="image/*"
                    (change)="selectedImageChanged($event)" class="file-input" hidden #imageUploadControl />
            </mat-card-header>

            <mat-card-content>
                <mat-card-title>
                    <h6 class="text-center">{{userProfile.username}}</h6>
                </mat-card-title>
                <mat-card-subtitle>
                    <p class="text-center text-bold lead">{{userProfile.firstName}} {{userProfile.lastName}}</p>
                </mat-card-subtitle>
                <ng-container *ngIf="imageUploadControl.value">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [roundCropper]="true" format="png"
                        (imageCropped)="onImageCropped($event)">
                    </image-cropper>
                    <div class="d-flex justify-content-center">
                        <button class="m-2 btn bg-red text-beige" (click)="cancelImageChange()">
                            <mat-icon fontIcon="cancel"></mat-icon>
                        </button>
                        <button class="m-2 btn bg-green text-beige" (click)="submitImageChange()">
                            <mat-icon fontIcon="check"></mat-icon>
                        </button>
                    </div>
                </ng-container>
                <hr>
                <p>Korisnik aplikacije od: <span class="text-bold">{{userProfile.createdAt | formatDate}}</span></p>

                <app-tag-viewer [readonly]="dataFromStore.loggedInUser.id !== userProfile.id" [tags]="dataFromStore.tags"
                                (addTag)="addTag($event)" (removeTag)="removeTag($event)">
                </app-tag-viewer>
                
                <ng-container *ngIf="dataFromStore.loggedInUser.role === 'admin' && userProfile.id !== dataFromStore.loggedInUser.id; else nonAdminView">
                    <div class="d-flex align-items-center my-3">
                        <mat-form-field class="d-flex align-items-center" subscriptSizing="dynamic">
                            <mat-label>Uloga</mat-label>
                            <mat-select [(value)]="selectedRole">
                                <mat-option *ngFor="let role of roles" [value]="role">{{role | translateRole}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <button (click)="changeUserRole()"
                            [disabled]="userProfile.role === selectedRole" mat-icon-button class="ms-2">
                            <mat-icon fontIcon="check"></mat-icon>
                        </button>
                    </div>

                    <button class="btn bg-red text-beige" (click)="deleteUserAccount()">
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                </ng-container>

                <ng-template #nonAdminView>
                    <p>Uloga: <span class="text-bold">{{userProfile.role | translateRole }}</span></p>
                </ng-template>

            </mat-card-content>

        </mat-card>
    </ng-template>

</ng-container>