<ng-container *ngIf="dataFromStore$ | async as dataFromStore">
    <mat-spinner class="my-2" diameter="50" *ngIf="dataFromStore.isLoading; else loadedProfile"></mat-spinner>

    <ng-template #loadedProfile>
        <mat-card *ngIf="dataFromStore.userProfile" appearance="outlined" class="w-100 h-100">
            <mat-card-header class="d-flex justify-content-center">
                <div class="profile-image position-relative mb-3">
                    <app-avatar-image [rounded]="true" [imageUrl]="dataFromStore.userProfile.profileImage" route="users/profile-image" defaultImageUrl="assets/default-profile-image.jpg"></app-avatar-image>
                    <button class="btn btn-sm bg-green text-beige rounded-circle btn-change-image" 
                        *ngIf="dataFromStore.userProfile.id === dataFromStore.loggedInUser.id"
                        (click)="imageUploadControl.click()">
                        <mat-icon fontIcon="camera_enhance"></mat-icon>
                    </button>
                </div>

                <input type="file" id="imageUploadControl" name="imageUploadControl" accept="image/*"
                    (change)="selectedImageChanged($event)" class="file-input" hidden #imageUploadControl />
            </mat-card-header>

            <mat-card-content>
                <ng-container *ngIf="!isEditing; else editingForm">
                    <mat-card-title>
                        <h6 class="text-center">{{dataFromStore.userProfile.username}}</h6>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p class="text-center text-bold lead">{{dataFromStore.userProfile.firstName}} {{dataFromStore.userProfile.lastName}}</p>
                    </mat-card-subtitle>

                    <div *ngIf="dataFromStore.userProfile.id === dataFromStore.loggedInUser.id" class="d-flex justify-content-center">
                        <button class="btn bg-purple text-beige mx-auto" (click)="switchToEditingMode(dataFromStore.userProfile)">Izmeni podatke</button>
                    </div>
                </ng-container>
                    
                <ng-template #editingForm>
                    <form [formGroup]="userDataForm" (ngSubmit)="saveUserDataChanges(dataFromStore.userProfile.id)">
                        <mat-form-field subscriptSizing="dynamic" appearance="fill" class="w-100 mb-2">
                            <mat-label>Korisničko ime</mat-label>
                            <input matInput placeholder="Korisničko ime" formControlName="username">
                            <mat-hint *ngIf="formUsername.touched && formUsername.errors">Korisničko ime može sadržati samo mala slova, donju crtu ili tačku.</mat-hint>
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic" appearance="fill" class="w-100 mb-2">
                            <mat-label>Ime</mat-label>
                            <input matInput placeholder="Ime" formControlName="firstName">
                            <mat-hint *ngIf="formFirstName.touched && formFirstName.errors">Ime je obavezno</mat-hint>
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic" appearance="fill" class="w-100 mb-2">
                            <mat-label>Prezime</mat-label>
                            <input matInput placeholder="Prezime" formControlName="lastName">
                            <mat-hint *ngIf="formLastName.touched && formLastName.errors">Prezime je obavezno</mat-hint>
                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                            <button class="btn bg-red text-beige me-2" (click)="cancelUserDataChanges()" type="button">Otkaži</button>
                            <button class="btn bg-green text-beige" type="submit" [disabled]="userDataForm.invalid">Sačuvaj izmene</button>
                        </div>
                    </form>
                </ng-template>


                <ng-container *ngIf="imageUploadControl.value">
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [roundCropper]="true" format="png"
                        (imageCropped)="onImageCropped($event)">
                    </image-cropper>
                    <div class="d-flex justify-content-center">
                        <button class="m-2 btn bg-red text-beige" (click)="cancelImageChange()">
                            <mat-icon fontIcon="cancel"></mat-icon>
                        </button>
                        <button class="m-2 btn bg-green text-beige" (click)="submitImageChange()">
                            <mat-icon fontIcon="check"></mat-icon>
                        </button>
                    </div>
                </ng-container>
                <hr>
                <p>Korisnik aplikacije od: <span class="text-bold">{{dataFromStore.userProfile.createdAt | formatDate}}</span></p>

                <app-tag-viewer [readonly]="dataFromStore.loggedInUser.id !== dataFromStore.userProfile.id" [tags]="dataFromStore.tags"
                                (addTag)="addTag($event)" (removeTag)="removeTag($event)">
                </app-tag-viewer>
                
                <a [routerLink]="'../../user-projects/' + dataFromStore.userProfile.username" class="w-100 my-3 btn bg-brown text-beige">
                    Pogledaj projekte
                </a>
                
                <p>Uloga: <span class="text-bold">{{dataFromStore.userProfile.role | translateRole }}</span></p>

                <ng-container *ngIf="dataFromStore.loggedInUser.role === 'admin' && dataFromStore.userProfile.id !== dataFromStore.loggedInUser.id">
                    <hr>
                    <button class="btn bg-purple text-beige me-2" (click)="showRoleChangeDialog(dataFromStore.userProfile)">
                        Promeni ulogu
                    </button>

                    <button class="btn bg-red text-beige" (click)="deleteUserAccount(dataFromStore.userProfile.id)">
                        Obriši nalog
                    </button>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </ng-template>

</ng-container>